# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: Tests

on: 
  push:
    branches: [ master ]
  pull_request:

jobs:
  test-macos:

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check
        run: |
          brew install llvm@14 
          echo 'export PATH="/usr/local/opt/llvm@14/bin:$PATH"' >> /Users/runner/.bash_profile
          cd tests && make main.a && ./main.a

  test-macos-clang18:

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check
        run: |
          brew install llvm@18 
          echo 'export PATH="/usr/local/opt/llvm@18/bin:$PATH"' >> /Users/runner/.bash_profile
          cd tests && make main.a && ./main.a


  test-ubuntu:
    runs-on: ubuntu-latest
    container: gvegayon/epiworld:latest

    steps:
      - uses: actions/checkout@v4

      - name: Check
        env:
          OPENMP: -fopenmp
        run: |
          cd tests
          make main.o
          ./main.o

  test-epiworld-r:
    runs-on: ubuntu-latest
    container: rocker/r2u:latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/checkout@v4
        with:
          repository: UofUEpiBio/epiworldR
          path: ./r-pkg

      - name: Getting epiworldR
        run: |
          install2.r knitr rmarkdown tinytest netplot igraph data.table
          cp -r include/epiworld/ r-pkg/inst/include/epiworld/
          R CMD build r-pkg
          R CMD INSTALL epiworldR_*.tar.gz
