# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: Code coverage

on: [push, pull_request]

jobs:        
  coverage:
    runs-on: ubuntu-latest
    container: gvegayon/epiworld:latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update && \
          apt-get install -y software-properties-common && \
          add-apt-repository -y ppa:ubuntu-toolchain-r/test && \
          apt-get update && \
          apt-get install -y lcov gcc-14 g++-14 && \
          update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 100 && \
          update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100 && \
          update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-14 100        

      - name: Generate coverage
        run: |
          VERBOSE=1 WITH_COVERAGE=1 make test -j4
          
      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          files: ./build/tests/.coverage/coverage.info
          flags: unittests
          name: codecov-upload
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
