name: EpiworldPy Integration Tests

on: [pull_request]

jobs:
  test-epiworld-py:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/checkout@v4
        with:
          repository: UofUEpiBio/epiworldPy
          path: ./py-pkg

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13.0

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.10"

      - name: Copy headers
        run: cp -r include/epiworld py-pkg/include

      - name: Create venv and install package
        working-directory: ./py-pkg
        run: |
          uv venv .venv
          source .venv/bin/activate
          uv pip install --verbose .[test]

      - name: Run tests
        working-directory: ./py-pkg
        run: |
          source .venv/bin/activate
          uv run -m pytest

  