name: Examples

on: [pull_request]

jobs:
  examples:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Ubuntu dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update && \
          sudo apt-get install -y cpanminus

      - name: Cache cpanm
        uses: actions/cache@v4
        with:
          path: ~/.cpanm
          key: "${{ runner.os }}-llvm18-cpanm-${{ hashFiles('cpanfile') }}"
  
      - name: Install Perl modules
        shell: bash
        run: |
          if [ "$(uname)" = "Darwin" ]; then
            export PKG_CONFIG_PATH="$(brew --prefix libxml2)/lib/pkgconfig:$PKG_CONFIG_PATH"
          fi
          cpanm --notest --installdeps .

      - name: Check
        run: |
          VERBOSE=1 make examples
  