name: Examples

on: [push, pull_request]

jobs:
  examples:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check
        run: |
          VERBOSE=1 make examples
  