name: Examples

on: [push, pull_request]

jobs:
  examples:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Ubuntu dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update && \
          sudo apt-get install -y cpanminus

      - uses: ./.github/actions/perl-setup
        with:
          llvm: ${{ matrix.llvm }} 

      - name: Check
        run: |
          VERBOSE=1 make examples
  