name: Test Suite

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        llvm: [14, 18]

    steps:
      - uses: actions/checkout@v4

      - name: Install macOS dependencies
        if: runner.os == 'macOS'
        run: |
          brew install llvm@${{ matrix.llvm }} perl-xml-parser
          echo "export PATH=\"/usr/local/opt/llvm@${{ matrix.llvm }}/bin:$PATH\"" >> $HOME/.bash_profile

      - name: Install Ubuntu dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update && \
          sudo apt-get install -y software-properties-common && \
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test && \
          sudo apt-get update && \
          sudo apt-get install -y clang-${{ matrix.llvm }} clang-tools-${{ matrix.llvm }} llvm-${{ matrix.llvm }} && \
          sudo update-alternatives --install /usr/bin/cc cc /usr/bin/clang-${{ matrix.llvm }} 100 && \
          sudo update-alternatives --install /usr/bin/c++ c++ /usr/bin/clang++-${{ matrix.llvm }} 100

      - name: Run test suite
        run: |
          if [ "$(uname)" = "Darwin" ]; then
            CORES=$(sysctl -n hw.ncpu)
            export WITH_OPENMP=0
          else
            CORES=$(nproc)
          fi
      
          export CC=cc
          export CXX=c++
          VERBOSE=1 WITH_COVERAGE=0 make test -j"$CORES"
